.containerDiv{
    background-color:#3a86ff;
    text-align: center;
    padding:20px;
}
#pageH1{
    color: azure;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;

}
 #PostList{
    padding-top: 20px;
    padding-left: 0px;
 }

 .error-message {
    display: block;
    color: #e74c3c; /* Red for error messages */
    font-size: 0.9em;
    margin-top: 5px;
    min-height: 1em; /* Reserve space to prevent layout shifts */
  }
  .button-spacing {
    margin-left: 30px; /* Adjust the value as needed */
}
.card-spacing{
    margin-bottom: 10px;
}
/* Custom styles to visually highlight the editable areas */
.editing-active {
    border: 1px solid #3b82f6; /* Blue border */
    padding: 20px;
    margin: 8px; 
    border-radius: 0.375rem;
    background-color: #f0f9ff; /* Light blue background */
    transition: all 0.2s;
}
/* Ensure cursor shows text can be edited */
[contenteditable="true"] {
    cursor: text;
}
